{{#each matrices}}
{{#if this ~}}
<div class="underground-item" style="position: absolute;
        background: {{background}}; 
        width: 100%;
        top: {{multiply @root.styles.oneHourHeight top}}px; 
        height: {{multiply @root.styles.oneHourHeight height}}px">
</div>
{{/if}}
{{/each}}